<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib//elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib//elements/dom-if.html">
<link rel="import" href="../../src/gestor-contrasena/gestor-contrasena.html">

<dom-module id="gestor-validatoken">
    <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <style>
        :host {
            display: block;
        }
        .flag{
            width: 90px;
            height: 95px;
        }
        </style>

        <template is="dom-if" if="{{SwContrasena}}">
            <gestor-contrasena on-regresar="mostrar"></gestor-contrasena>
        </template>
    
        <template is="dom-if" if="{{SwToken}}">
            <img class="" src="../../img/desbloqueo.jpg" alt="" style="width: 100%;">
            <div class="container">
                <div id="pass" class="row" hidden$={{logado}} style="width: 10%; margin-left: 45%; justify-content: center">
                <p></p>
                    <input type="token" value="{{tokenI::input}}" placeholder="Introducir token" style="background: #e6e6e6 padding: 10px; font: 12px  Arial, Helvetica, Sans-serif;">
                <p></p>
                </div>
                <div id="boton-login" class="row" hidden$={{logado}}>
                    <br/>
                    <br/>
                    <button on-click="validarToken" class="btn btn-success" style="background: #0b0b61;  width: 20%; margin-left: 40%; justify-content: center">Validar Token</button>
                    <p></p>
                </div>
                <a on-click="token" href="#" style="margin-left: 30%"">Regresar</a> 
            </div>
        </template>
    </template>

  <script>
class GestorValidaToken extends Polymer.Element 
    {
          static get is() { return 'gestor-validatoken'; }
          static get properties() 
          {
            return {
                tokenI:{
                type: String
                },
                SwToken:{
                type: Boolean,
                value: true
                },
                SwContrasena:{
                type: Boolean,
                value: false
                }
            }
          }
      token(){
        console.log('token')
        this.dispatchEvent(new CustomEvent('regresar', {
          composed: true,
          bubbles: true
        }))
      }
      validarToken(){
        console.log("token  "+ this.tokenI);
        if(this.tokenI !=null){
          alert("Token Validado Exitosamente, por favor cambie su contraseña");
          this.SwContrasena = true;
            this.SwToken = false;
        } else{
          alert("Debe ingresar el Token enviado a su correo electrónico");
          this.SwContrasena = false;
            this.SwToken = true;
        }
      }
    } 
      

    window.customElements.define(GestorValidaToken.is, GestorValidaToken);
  </script>
</dom-module>

