<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib//elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib//elements/dom-if.html">
<link rel="import" href="../../src/gestor-acceder/gestor-acceder.html">
<link rel="import" href="../../src/gestor-validatoken/gestor-validatoken.html">
<link rel="import" href="../../src/gestor-contrasena/gestor-contrasena.html">
<link rel="import" href="../../img/desbloqueo.jpg">

<dom-module id="gestor-validauser">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
      .flag{
        width: 90px;
        height: 95px;
      }
    </style>
    <!--
    <template is="dom-if" if="{{SwValidatoken}}">
        <gestor-validatoken on-regresar="mostrar"></gestor-validatoken>
    </template> -->
    <template is="dom-if" if="{{SwContrasena}}">
        <gestor-contrasena on-regresar="mostrar"></gestor-contrasena>
    </template>

    <template is="dom-if" if="{{SwValidaUser}}">
        <img class="" src="../../img/desbloqueo.jpg" alt="" style="width: 100%;">
      
        <div class="container">

          <div id="pass" class="row" hidden$={{logado}} style="width: 10%; margin-left: 45%; justify-content: center">
            <p></p>
              <input type="user" on-keyup="usuariox" value="{{user::input}}"  placeholder="Código de Usuario" style="background: #e6e6e6 padding: 10px; font: 12px  Arial, Helvetica, Sans-serif;">
            <p></p>
          </div>
          <div id="boton-login" class="row" hidden$={{logado}}>
              <br/>
              <br/>
              <button on-click="validarUser" class="btn btn-success" style="background: #0b0b61;  width: 20%; margin-left: 40%; justify-content: center">Validar Usuario</button>
              <p></p>
          </div>
          <a on-click="desbloqueo" href="#" style="margin-left: 30%"">Regresar</a> 
        </div>
    </template>
  </template>

  <script>
class GestorValidaUser extends Polymer.Element 
    {
          static get is() { return 'gestor-validauser'; }
          static get properties() 
          {
            return {
              user:{
              type: String
              },
               SwValidaUser:{
              type: Boolean,
              value: true
              },
                SwContrasena:{
                type: Boolean,
                value: false
                },
              SwValidatoken:{
              type: Boolean,
              value: false
                }
            }
          }
      desbloqueo(){
        console.log('desbloqueo')
        this.dispatchEvent(new CustomEvent('regresar', {
          composed: true,
          bubbles: true
        }))
      }
      validarUser(){
        console.log("Se ingresó -> usuario: "+ this.user);
        var usuario = this.user.toUpperCase();
        console.log(" usuario en mayúscula " + usuario);
        this.user = usuario;
        /*if (this.user.indexOf("X",0)!= 0){
          alert("El usuario debe iniciar con X ");
          this.SwContrasena = false;
          this.SwValidaUser = true;
          this.user = null;
        }else */
        if(this.user !=null){
          console.log("usuario: "+ this.user);
          this.generaToken();
        } else{
          alert("Debe ingresar un Código de Usuario");
          this.SwContrasena = false;
          this.SwValidaUser = true;
        }
      }
      /* usuariox(){
        if (this.userx != "x"){
          console.log("El usaurio debe iniciar con X....");
          alert("El usaurio debe iniciar con X....");
          this.user = null;
          this.SwContrasena = false;
          this.SwValidaUser = true;
        }
      }*/
      generaToken(){
        var request = new XMLHttpRequest();
        var url="http://ec2-18-191-188-92.us-east-2.compute.amazonaws.com:3001/v1/token";
        
        console.log("gestor validaruser - genera token "+ this.user);
        request.open("POST", url, false);
        request.setRequestHeader("Accept","application/json"); 
        request.setRequestHeader("Content-type","application/json");
        request.setRequestHeader("user", this.user);
        //request.setRequestHeader("access-control-allow-headers",  'Origin, X-Requested-With, Content-Type, Accept');
        //request.setRequestHeader("Access-Control-Allow-Origin",  '*');
        //request.setRequestHeader("Access-Control-Allow-Origin",  'http://ec2-18-218-184-153.us-east-2.compute.amazonaws.com:3001');
        console.log("antes del request.send "+ request.status);
        request.send(); 
        //var cliente = JSON.parse(request.response);
        //this.posclte = JSON.parse(request.response);
        //console.log("gestor validaruser - genera token "+ this.posclte);
        if (request.status == 200){
          console.log("gestor validaruser - genera token if "+ request.status);
          alert("Funcion generaToken - Enviamos un token a tu correo electrónico");
          this.SwContrasena = true;
          this.SwValidaUser = false;  
          localStorage.setItem("usuario", this.user);
        }else{
          console.log("gestor validaruser - genera token  else" + request.status);
          alert("Funcion generaToken - Debe ingresar un Código de Usuario válido");
          this.SwContrasena = false;
          this.SwValidaUser = true;
          this.user = null;
            }
      }
    } 
      

    window.customElements.define(GestorValidaUser.is, GestorValidaUser);
  </script>
</dom-module>

