<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib//elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib//elements/dom-if.html">
<link rel="import" href="../../src/gestor-contrasena/gestor-contrasena.html">
<link rel="import" href="../../src/gestor-validauser/gestor-validauser.html">
<link rel="import" href="../../src/gestor-acceder/gestor-acceder.html">
<link rel="import" href="../../src/gestor-registro/gestor-registro.html">
<link rel="import" href="../../img/logoyacceso.JPG">
<link rel="import" href="../../css/styletabla.css">
<dom-module id="login-app">
    <template>
        <style>
            :host {
                display: block;
            }
            .flag {
                width: 90px;
                height: 95px;
            }
            .contenedor {
                width: 90%;
                overflow: hidden;
            }
            #marca {
                float: left;
            }
            #boletin {
                padding: 15pn;
                color: #fff;
                background: #24282b;
            }
            #botones h1 {
                float: left;
            }
            #botones form {
                text-align: center;
                margin: 0 auto;
            }
            #botones button {
                text-align: center;
                margin: 0 auto;
            }
            #botones input {
                padding: 4px;
            }
        </style>
        <template is="dom-if" if="{{SwRegistro}}">
            <gestor-registro on-regresar="mostrar"></gestor-registro>
        </template>
        <template is="dom-if" if="{{SwValidaUser}}">
            <gestor-validauser on-regresar="mostrar"></gestor-validauser>
        </template>
        <template is="dom-if" if="{{SwAcceder}}">
            <gestor-acceder on-regresar="mostrar"></gestor-acceder>
        </template>
        <template is="dom-if" if="{{Swlogin}}">
            <div class="contenedor" id="marca">
                <img class="" src="../../img/logoyacceso.JPG" alt="" style="width: 100%;">
                <section id="botones">
                    <div>
                        <form>
                            <input type="user" value="{{user::input}}" placeholder="Código de Usuario">
                            <br/>
                            <br/>
                            <input type="password" value="{{password::input}}" placeholder="Contraseña">
                            <br/>
                        </form>
                    </div>
                </section>
            </div>
            <br/>
            <br/>
            <a on-click="validauser" href="#" style="margin-left: 30%; width: 30%; font: 13px bold Arial, Helvetica, Sans-serif;">¿Has olvidado tu contraseña?</a>
            <div style="margin-left: 32%; width: 30%;"></div>
            <br/>
            </div>
            </div>
            <div id="boton-login" class="row" hidden$={{logado}}>
                <br/>
                <button on-click="logar" class="btn btn-success" style="margin-left: 40%;">Acceder</button>
            </div>
            <section id="registro" class="row" hidden$={{logado}}>
                <div>
                    <a style="font: 10px Arial, Helvetica, Sans-serif; color: #0b0b61; margin-left: 30%">¿Eres nuevo?</a>
                    <a on-click="logar2" href="#" style="font: 12px bold Arial, Helvetica, Sans-serif; margin-left: 20%">Regístrate</a>
                </div>
            </section>
            </div>
        </template>
    </template>
    <script>
        class LoginApp extends Polymer.Element {
                static get is() {
                    return 'login-app';
                }
                static get properties() {
                        return {
                            user: {
                                type: String
                            },
                            password: {
                                type: String
                            },
                            Swlogin: {
                                type: Boolean,
                                value: true
                            },
                            SwRegistro: {
                                type: Boolean,
                                value: false
                            },
                            SwValidaUser: {
                                type: Boolean,
                                value: false
                            },
                            SwValidaUser: {
                                type: Boolean,
                                value: false
                            },
                            swAcceder: {
                                type: Boolean,
                                value: false
                            },
                            posicion: {
                                type: Array,
                                notify: true
                            }
                        }
                    }
                logar() {
                        if ((this.user == null && this.password == null) ||
                            (this.user != null && this.password == null) ||
                            (this.user == null && this.password != null)) {
                            alert("Debe ingresar un Código de Usuario y/o Password");
                            this.SwRegistro = false;
                            this.Swlogin = true;
                            this.SwValidaUser = false;
                            this.SwAcceder = false;
                            this.user = null;
                            this.password = null;
                        }
                        var usuario = {
                            user: this.user,
                            pass: this.password
                        };
                        if (typeof(Storage) !== 'undefined') {
                            console.log("Storage Disponible");
                        } else {
                            console.log("Storage no Disponible");
                        }
                        var request = new XMLHttpRequest();
                        //var url = "http://ec2-18-218-184-153.us-east-2.compute.amazonaws.com:3001/v1/login";
                        var url = "http://ec2-18-191-188-92.us-east-2.compute.amazonaws.com:3001/v1/login";
                        var usuario = this.user.toUpperCase();
                        this.user = usuario;
                        request.withCredentials = true;
                        request.open("POST", url, false);
                        request.setRequestHeader("user", this.user);
                        request.setRequestHeader("password", this.password);
                        request.setRequestHeader("Accept", "application/json");
                        request.setRequestHeader("Content-type", "application/json");
                        request.setRequestHeader("access-control-allow-headers", 'Origin, X-Requested-With, Content-Type, Accept');
                        request.setRequestHeader("Access-Control-Allow-Origin", '*');
                        request.setRequestHeader("Access-Control-Allow-Origin", 'http://ec2-18-218-184-153.us-east-2.compute.amazonaws.com:3001');
                        //request.withCredentials = true;
                        request.send();
                        if (request.status == 200) {
                            this.logado = true;
                            this.SwRegistro = false;
                            this.Swlogin = false;
                            this.SwValidaUser = false;
                            this.SwAcceder = true;
                            var cliente = JSON.parse(request.response);
                            this.posicion = JSON.parse(request.responseText);
                            localStorage.setItem("usuario", this.user);
                        } else {
                            alert("Usuario o Contaseña Inválida");
                            this.logado = false;
                            this.SwRegistro = false;
                            this.Swlogin = true;
                            this.SwValidaUser = false;
                            this.SwAcceder = false;
                            this.user = null;
                            this.password = null;
                            localStorage.clear();
                            sessionStorage.clear();
                        }
                        return this.user;
                    }
                logar2() {
                        this.SwRegistro = true;
                        this.Swlogin = false;
                        this.SwValidaUser = false;
                        this.SwAcceder = false;
                    }
                mostrar() {
                    this.SwRegistro = false;
                    this.Swlogin = true;
                    this.SwValidaUser = false;
                    this.SwAcceder = false;
                }
                validauser() {
                    this.SwRegistro = false;
                    this.Swlogin = false;
                    this.SwValidaUser = true;
                    this.SwAcceder = false;
                }
            }
        window.customElements.define(LoginApp.is, LoginApp);
    </script>
</dom-module>
