<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib//elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib//elements/dom-if.html">
<link rel="import" href="../../img/registro.jpg">

<dom-module id="gestor-registro">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    
    <style>
      :host {
        display: block;
      }
      .flag{
        width: 90px;
        height: 95px;
      }
      .contenedor{
          width: 90%;
          /*margin: left;*/
          overflow: hidden;
        }
        #marca{
            float: left;
        }
        /* formulario del boletin */
        #boletin{
            padding: 15pn;
            color: #fff;
            background: #24282b;
        }

        #botones h1{
            float: left;
        }

        #botones form{
            text-align: center;
            margin: 0 auto;
        }
        #botones button{
            text-align: center;
            margin: 0 auto;
        }

        #botones input{
            padding: 4px;
        }
    </style>
    <template is="dom-if" if="{{SwRegistro}}">
        <div class="contenedor" id="marca">
            <img class="" src="/img/registro.jpg" alt="" style="width: 95%;">
            <div class="registrar">
              <div class="row">
                <!--
                  <img class="col-lg-8 col-xs-12 flag" src="https://image.flaticon.com/icons/svg/2036/2036438.svg" alt="">
                  -->
                  
                  <div id="pass" class="row" hidden$={{logado}} style="width: 10%; margin-left: 45%; justify-content: center">
                      <input type="user" value="{{user::input}}" placeholder="Código de Usuario" style="background: #e6e6e6 padding: 10px; font: 12px  Arial, Helvetica, Sans-serif;">
                      <br/>
                  </div>
                  <div id="boton-login" class="row" hidden$={{logado}} style="width: 20%; margin-left: 40%; justify-content: center">
                    
                    <button on-click="validarUser" class="btn btn-success" style="background: #0b0b61; ">Validar Usuario</button>

                  </div>
                  <div style="width: 30%; margin-left: 30%; justify-content: center">
                  <br/>
                    <p></p>
                    <a on-click="registro" href="#">Regresar</a>
                  </div>
              </div>
            </div>
        </div>
    </template>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     class GestorRegistro extends Polymer.Element 
    {
          static get is() { return 'gestor-registro'; }
          static get properties() 
          {
            return {
              SwRegistro:{
                type: Boolean,
                value: true
              }
            }
          }
      registro(){
        console.log('reg')
        this.dispatchEvent(new CustomEvent('regresar', {
          composed: true,
          bubbles: true
        }))
      }
    } 
      

    window.customElements.define(GestorRegistro.is, GestorRegistro);
  </script>
</dom-module>

